---
import Layout from '../layouts/Layout.astro';
import backgroundImage from '../images/background.png';
import downArrow from '../images/down arrow.svg';
import aboutImage from '../images/about.png';
import tiltedRect from '../images/tilted rect.svg';
import BlueRedBackground from '../components/BlueRedBackground.astro';
import Container from '../components/Container.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Andndre">
	<BlueRedBackground>
		<section id="hero">
			<img
				class="background-image"
				src={backgroundImage}
				alt="background image"
			/>
			<h1>Hello world! <br /> <span class="blue">My Name is Andre</span></h1>
			<div class="down-arrow">
				<a href="#about-me"><img src={downArrow} alt="" /></a>
			</div>
		</section>
		<img id="tilted-rect" src={tiltedRect} alt="" />
		<main>
			<section id="about-me">
				<Container lessMargin className="hidden">
					<h2>About Me</h2>
					<div class="flex">
						<img src={aboutImage} alt="it is me" />
						<p>
							My name is Agung Andre, most commonly known as Andre. I am a
							student who has a passion for programming and design. The
							programming field that interests me is the development of web
							apps, android, and games (which I studied are web based games). At
							the age of 16, when the pandemic hit and the students were
							learning from home, I began to learn many things self-taught, such
							as 2d and 3d animation, learning several programming languages
							such as python, javascript (and typescript), java, dart, and c.
							After I graduated from high school, I continued my studies at the
							Ganesha University of Education majoring in Informatics
							Engineering.
						</p>
					</div>
				</Container>
			</section>
			<section id="blog">
				<Container lessMargin className="hidden">
					<h2>Blog</h2>
					<br /><br />
					<div class="flex">
						<p>
							<!-- TODO: fix this without invisible span -->
							<span class="invisible"
								>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
								cupiditate</span
							>
							<br />
							*Blog* is where I share my thoughts on something, and share the knowledge
							that I have. <span class="invisible">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
								cupiditate</span
							>
						</p>
						<div class="card">
							<a class="btn" href="/blog">See my blogs</a>
						</div>
					</div>
				</Container>
			</section>
			<section id="project">
				<Container lessMargin className="hidden">
					<h2>Project</h2>
					<br />
					<div class="flex">
						<div>
							<p>
								*Project* Lorem ipsum dolor sit amet consectetur adipisicing
								elit. Ipsa sint provident unde maxime ab necessitatibus, ea
								voluptate fugiat nisi voluptas iusto molestias aspernatur
								accusantium deserunt quod. Cum quod delectus reiciendis.
							</p>
							<br />
							<div class="align-right">
								<a class="btn" href="/project">See my projects</a>
							</div>
						</div>
						<img src={aboutImage} alt="my projects" />
					</div>
				</Container>
			</section>
			<section id="contact">
				<Container lessMargin>
					<h2>Contact</h2>
					<br />
					<div class="flex">
						<Contact />
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Distinctio quo veritatis eveniet nobis asperiores! Fugiat amet
							voluptatem incidunt facilis explicabo cumque fugit veniam nam
							inventore corrupti magnam magni a corporis repellat dolores eum
							sapiente eos quidem beatae reiciendis asperiores molestiae
							aliquid, laudantium officia. Ipsum quas natus hic illo et vitae.
						</p>
					</div>
				</Container>
			</section>
		</main>
	</BlueRedBackground>
</Layout>

<style>
	.hidden {
		opacity: 0;
		translate: 0 20px;
		transition: all 1s ease-out;
	}
	.show {
		opacity: 1;
		translate: 0 0;
	}
	.background-image {
		position: absolute;
		width: 100%;
		z-index: -10;
	}
	.flex {
		display: flex;
		gap: 3rem;
		align-items: center;
	}
	.invisible {
		opacity: 0;
		pointer-events: none;
	}
	.align-right {
		display: flex;
		justify-content: end;
	}
	.flex > * {
		flex: 1;
	}
	.flex img {
		width: 100px;
	}
	h1 span {
		color: var(--primary);
	}
	main {
		position: relative;
		z-index: 0;
		margin-top: -10rem;
	}
	#tilted-rect {
		width: 100%;
	}

	#hero {
		background-color: inherit;
		border: 0;
	}

	.card {
		width: 100%;
		background: var(--not-so-black);
		text-align: center;
		padding: 2rem 1rem;
		border: 1px solid var(--lighter-black);
		border-radius: 1rem;
	}

	section:not(#hero) {
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	h2 {
		line-height: 5rem;
	}

	.down-arrow {
		position: relative;
		padding-top: 4rem;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	@media screen and (max-width: 1400px) {
		.background-image {
			display: none;
		}
		main {
			margin-top: -4rem;
		}
	}

	@media screen and (max-width: 720px) {
		main {
			margin-top: -2rem;
		}
		.flex {
			flex-direction: column;
		}
		.flex > *,
		.flex img {
			width: 100%;
		}
	}

	/* @media (prefers-reduced-motion) {
		.hidden {
			transition: none;
		}
	} */
</style>

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('show');
			} else {
				entry.target.classList.remove('show');
			}
		});
	});

	const hiddenElements = document.querySelectorAll('.hidden');

	hiddenElements.forEach((element) => {
		observer.observe(element);
	});
</script>
